{
  "branches": ["main"],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    [
      "@semantic-release/gitlab",
      {
        "assets": [
          "dist/app/*",
          "package.json",
          "package-lock.json",
          "README.md",
          "CHANGELOG.md",
          "reports/build-reports.html"
        ]
      }
    ],
    [
      "@semantic-release/git",
      {
        "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
      }
    ]
  ]
}
